.cover,
.work-card,
.price-card,
.problem-and-solution,
.cases-block {
  position: relative;
}

.custom-shape {
  position: absolute;
  z-index: -1;
  display: block; /* Делает SVG блочным элементом, как <img> */
  width: 100%; /* Позволяет CSS управлять шириной */
  height: auto; /* Сохраняет пропорции */
}

.right {
  width: 110vw;
  right: -43vw;
  top: -39vw;
  animation:
    fadeIn 4s ease-out forwards,
    float 60s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-delay: 0s, 4s;
}

.left {
  width: 110vw;
  left: -44vw;
  bottom: -40vw;
  animation:
    fadeIn 4s ease-out forwards,
    float-mirrored 60s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-delay: 0s, 6s;
}

.middle {
  width: 135%;
  top: -30%;
  left: -18%;
  animation:
    fadeIn 4s ease-out forwards,
    float-middle 70s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-delay: 0s, 4s;
}

.calendar {
  width: 250%;
  transform: translate(-70%, -70%);
  animation:
    fadeIn 4s ease-out forwards,
    float-calendar 55s infinite ease-in-out;
  animation-delay: 0s, 4s;
}

.coin {
  width: 250%;
  transform: translate(10%, -71%);
  animation:
    fadeIn 5s ease-out forwards,
    float-coin 55s infinite ease-in-out;
  animation-delay: 0s, 5s;
}

.blur {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  filter: blur(250px);
  width: 1466px;
  height: 3037px;
  animation: blinkBlur 5s infinite ease-in-out;
}

@keyframes blinkBlur {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(-4vw, -2vw) rotate(5deg) scale(0.97);
    opacity: 0.6;
  }
  50% {
    transform: translate(2vw, -1vw) rotate(-5deg) scale(1);
    opacity: 1;
  }
  75% {
    transform: translate(0vw, 1vw) rotate(5deg) scale(0.98);
    opacity: 0.7;
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes float-mirrored {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(4vw, -2vw) rotate(-5deg) scale(0.97);
    opacity: 0.9;
  }
  50% {
    transform: translate(-2vw, -1vw) rotate(5deg) scale(1);
    opacity: 0.7;
  }
  75% {
    transform: translate(2vw, 1vw) rotate(-5deg) scale(0.98);
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes float-middle {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(-4vw, 2vw) rotate(-5deg) scale(0.95);
    opacity: 0.6;
  }
  50% {
    transform: translate(2vw, -1vw) rotate(5deg) scale(0.98);
    opacity: 1;
  }
  75% {
    transform: translate(-2vw, 1vw) rotate(-5deg) scale(0.97);
    opacity: 0.7;
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes float-calendar {
  0%,
  100% {
    transform: translate(-70%, -70%) rotate(0deg) scale(1);
    opacity: 0.95;
  }
  30% {
    transform: translate(-68%, -71%) rotate(-6deg) scale(1.02);
    opacity: 1;
  }
  70% {
    transform: translate(-72%, -71%) rotate(8deg) scale(0.98);
    opacity: 0.7;
  }
}

@keyframes float-coin {
  0%,
  100% {
    transform: translate(10%, -71%) rotate(0deg) scale(1);
    opacity: 0.95;
  }
  30% {
    transform: translate(8%, -72%) rotate(6deg) scale(0.98);
    opacity: 0.7;
  }
  70% {
    transform: translate(12%, -72%) rotate(-8deg) scale(1.02);
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .calendar {
    width: 250%;
    transform: translate(-2%, -41%);
    animation:
      fadeIn 4s ease-out forwards,
      float-calendar1200 55s infinite ease-in-out;
    animation-delay: 0s, 4s;
  }

  @keyframes float-calendar1200 {
    0%,
    100% {
      transform: translate(-2%, -41%) rotate(0deg) scale(1);
      opacity: 0.95;
    }
    30% {
      transform: translate(0%, -42%) rotate(-6deg) scale(1.02);
      opacity: 1;
    }
    70% {
      transform: translate(-4%, -42%) rotate(8deg) scale(0.98);
      opacity: 0.7;
    }
  }

  .coin {
    width: 250%;
    transform: translate(-32%, -28%);
    animation:
      fadeIn 5s ease-out forwards,
      float-coin1200 55s infinite ease-in-out;
    animation-delay: 0s, 5s;
  }

  @keyframes float-coin1200 {
    0%,
    100% {
      transform: translate(-32%, -28%) rotate(0deg) scale(1);
      opacity: 0.95;
    }
    30% {
      transform: translate(-34%, -29%) rotate(6deg) scale(0.98);
      opacity: 0.7;
    }
    70% {
      transform: translate(-30%, -29%) rotate(-8deg) scale(1.02);
      opacity: 1;
    }
  }

  .middle {
    width: 271%;
    top: -19%;
    left: -61%;
  }
}
@media (max-width: 1000px) {
  .right {
    width: 125vw;
    right: -40vw;
    top: -30vw;
  }

  .left {
    width: 125vw;
    left: -44vw;
    bottom: -15vw;
  }
}

@media (max-width: 900px) {
  .right {
    width: 160vw;
    right: -70vw;
    top: -40vw;
  }

  .left {
    width: 155vw;
    left: -50vw;
    bottom: -15vw;
  }
}

@media (max-width: 740px) {
  .calendar {
    width: 345%;
    transform: translate(-2%, -45%);
    animation:
      fadeIn 4s ease-out forwards,
      float-calendar740 65s infinite ease-in-out;
    animation-delay: 0s, 4s;
  }

  @keyframes float-calendar740 {
    0%,
    100% {
      transform: translate(-2%, -45%) rotate(0deg) scale(1);
      opacity: 0.95;
    }
    30% {
      transform: translate(0%, -46%) rotate(-6deg) scale(1.02);
      opacity: 1;
    }
    70% {
      transform: translate(-4%, -46%) rotate(8deg) scale(0.98);
      opacity: 0.7;
    }
  }

  .coin {
    width: 345%;
    transform: translate(-37%, -27%);
    animation:
      fadeIn 5s ease-out forwards,
      float-coin740 65s infinite ease-in-out;
    animation-delay: 0s, 5s;
  }

  @keyframes float-coin740 {
    0%,
    100% {
      transform: translate(-37%, -27%) rotate(0deg) scale(1);
      opacity: 0.95;
    }
    30% {
      transform: translate(-39%, -28%) rotate(6deg) scale(0.98);
      opacity: 0.7;
    }
    70% {
      transform: translate(-35%, -28%) rotate(-8deg) scale(1.02);
      opacity: 1;
    }
  }
  .middle {
    width: 371%;
    top: -9%;
    left: -61%;
  }
}

@media (max-width: 500px) {
  .right {
    width: 250vw;
    right: -140vw;
    top: -61vw;
  }

  .left {
    width: 240vw;
    left: -73vw;
    bottom: 60vw;
  }

  .calendar {
    width: 481%;
    transform: translate(-2%, -51%);
    animation:
      fadeIn 4s ease-out forwards,
      float-calendar500 65s infinite ease-in-out;
    animation-delay: 0s, 4s;
  }
  @keyframes float-calendar500 {
    0%,
    100% {
      transform: translate(-2%, -51%) rotate(0deg) scale(1);
      opacity: 0.95;
    }
    30% {
      transform: translate(0%, -52%) rotate(-8deg) scale(1.03);
      opacity: 1;
    }
    70% {
      transform: translate(-4%, -52%) rotate(10deg) scale(0.97);
      opacity: 0.7;
    }
  }
  .coin {
    width: 481%;
    transform: translate(-41%, -26%);
    animation:
      fadeIn 5s ease-out forwards,
      float-coin500 65s infinite ease-in-out;
    animation-delay: 0s, 5s;
  }
  @keyframes float-coin500 {
    0%,
    100% {
      transform: translate(-41%, -26%) rotate(0deg) scale(1);
      opacity: 0.95;
    }
    30% {
      transform: translate(-43%, -27%) rotate(8deg) scale(0.97);
      opacity: 0.7;
    }
    70% {
      transform: translate(-39%, -27%) rotate(-10deg) scale(1.03);
      opacity: 1;
    }
  }
  .middle {
    width: 471%;
    top: 11%;
    left: -110%;
  }
}

@media (max-width: 360px) {
  .right {
    width: 300vw;
    right: -180vw;
    top: -70vw;
  }

  .left {
    width: 310vw;
    left: -93vw;
    bottom: 110vw;
  }
  .middle {
    width: 431%;
    top: 13%;
    left: -110%;
  }
}
