.presentation-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 120px;
}

/* обложка */
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*problem & solution section*/
.problem-and-solution {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
  margin: 0 auto;
}

.problem-card {
  width: 698px;
}

.product-card,
.do-it,
.next-steps {
  padding: 0 160px;
  margin: 0 auto;
}

/*Стадии работы и оплата*/
.stages-of-work,
.price-of-work {
  width: 1225px;
  /*height: 690px;*/
  margin: 0 auto;
  display: flex;
}

.work-card {
  width: 50%;
  margin-left: auto;
  height: 100%;
}

.price-card {
  width: 50%;
  /*height: 100%;*/
}
