.presentation-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 120px;
}

/* обложка */
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*problem & solution section*/
.problem-and-solution {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
  margin: 0 auto;
}

.problem-card {
  width: 698px;
}

.product-card,
.do-it,
.next-steps  {
  padding: 0 160px;
  margin: 0 auto;
}

/*Стадии работы и оплата*/
.stages-of-work,
.price-of-work {
  width: 1225px;
  /*height: 690px;*/
  margin: 0 auto;
  display: flex;
}

.work-card {
  position: relative;
  width: 50%;
  margin-left: auto;
  height: 100%;
}

.price-card {
  position: relative;
  width: 50%;
  /*height: 100%;*/
}

.custom-shape {
  position: absolute;
  z-index: -1;
}

.middle {
  width: 135%;
  top: -22%;
  left: -18%;
}

.left {
  width: 110vw;
  left: -44vw;
  bottom: -40vw;
}
.right {
  width: 110vw;
  right: -43vw;
  top: -39vw;
}

.calendar {
  width: 250%;
  /* top: -69%;
  left: -175%; */
  transform: translateY(-70%) translateX(-70%);
}
.coin {
  width: 250%;
  transform: translateY(-71%) translateX(10%);
  /* top: -69%; */
  /* right: -175%; */
}

.cases-block {
  position: relative;
  /*padding: 0 230px;*/
}

svg {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  filter: blur(250px);
  width: 1466px;
  height: 3037px;
}
