@import url('../main.css');

.right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.rate-container {
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.info-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.rate-title,
.term {
  color:var(--muted-color);
}
span {
  color:var(--white-color);
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}