.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  border-radius: 60px;
  padding: 46px;
  width: 90%;
  max-width: 630px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  margin: auto 0;
}

.form-buttons {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-radius: 60px;
  overflow: hidden;
  border: 3px solid var(--actient-color);
}

.form-buttons > button {
  all: unset;
  flex: 1;
  padding: 23px 0;
  background: transparent;
  transition: background-color 0.5s ease;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.form-buttons > button:disabled {
  background-color: var(--actient-color);
  color: white;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.base-input {
  all: unset;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  padding: 25px 36px;
  transition: background-color 0.5s ease;
  font-size: 16px;
}

.base-input::placeholder {
  color: var(--muted-color);
}

.error-input {
  background-color: rgba(252, 134, 134, 0.5);
}

.error-input::placeholder {
  color: var(--white-color);
}

.error-text {
  color: #ff9999;
  font-size: 12px;
  text-align: center;
  min-height: 15px;
  transition: opacity 0.5s ease;
}

.send-button {
  all: unset;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: var(--actient-color);
  box-sizing: border-box;
  padding: 20px 0;
  border-radius: 60px;
}

.send-button:disabled {
  cursor: default;
}

.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.expand-enter-active,
.expand-leave-active {
  transition:
    max-height 0.8s ease-in-out,
    opacity 0.6s ease-in-out,
    transform 0.6s ease-in-out;
  overflow: hidden;
}

.expand-enter-from,
.expand-leave-to {
  max-height: 0;
  opacity: 0;
  transform: translateY(-30px);
}

.expand-enter-to,
.expand-leave-from {
  max-height: 600px;
  opacity: 1;
  transform: translateY(0);
}

.fade-field-enter-active,
.fade-field-leave-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.fade-field-enter-from,
.fade-field-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.fade-field-enter-to,
.fade-field-leave-from {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 560px) {
  .form-buttons > button {
    padding: 10px 0;
    font-size: 16px;
  }

  .input-wrapper {
    gap: 2px;
  }

  .base-input {
    padding: 13px 36px;
  }

  .login-form {
    width: 95%;
  }

  .send-button {
    padding: 10px 0;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .form-buttons > button {
    padding: 10px 0;
    font-size: 14px;
  }

  .form-input {
    gap: 15px;
  }

  .base-input {
    padding: 13px 36px;
    font-size: 12px;
  }

  .login-form {
    padding: 46px 24px;
    gap: 26px;
  }

  .send-button {
    font-size: 14px;
  }
}

@media (max-width: 361px) {
  .form-buttons > button {
    padding: 10px 0;
    font-size: 12px;
  }

  .form-input {
    gap: 15px;
  }

  .base-input {
    padding: 10px 24px;
    font-size: 10px;
  }

  .login-form {
    padding: 36px 24px;
    gap: 26px;
  }

  .error-text {
    font-size: 10px;
  }

  .send-button {
    font-size: 12px;
  }
}
