body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--standart-color);
}

:root {
  --actient-color: #71abeb;
  --standart-color: #e6e9ed;
  --muted-color: #a8a9af;
  --btn-text-color: #191b2b;
  --btn-background-color: #d9d9d9;
  --white-color: #ffffff;
}
